body {
  background: #fff;
}
li {
  margin-left: -15px;
  font-family: Arial;
}
#title {
  background-color: #ffc608;
  font-family: Courier New;
}
#content {
  font-family: Arial;
}
#pic {
  border: solid 2px #f00;
}
#caption {
  font-family: Arial;
  font-weight: bold;
  text-decoration: underline;
}
#historyContent {
  margin-top: -15px;
  font-family: Courier New;
}




